# -----------------------------
# Data
# -----------------------------
data/
ingestion/structured_batch/data/
# -----------------------------
# Secrets
# -----------------------------
.env

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[codz]

# Virtual environments
.venv/
env/
venv/

# -----------------------------
# OS / Editor
# -----------------------------
.DS_Store
.ipynb_checkpoints